/*#marco {
    border: 1px solid grey;
    display: inline-block;
}*/
#imagen img {
    width: 240px;
    height: 320px;
    float: left;
}

#seleccion_color {
    margin-left: 50px;
    float: left;
}

#seleccion_color div {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 25px;
    float: none;
}